html,
body,
h2,
p, ul, li {
  margin: 0;
  padding: 0;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}

.nav {
  width: 100%;
  height: 3.9rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  position: fixed;
  z-index: 5;
}
@media only screen and (max-width: 1000px) {
  .nav {
    justify-content: center;
  }
}
@media only screen and (max-width: 582px) {
  .nav {
    justify-content: center;
  }
}
.nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1.5rem;
}
.nav ul li {
  display: inline;
  position: relative;
}
.nav__main {
  border-bottom: 0.2rem solid transparent;
  margin: 1.2rem;
}
@media only screen and (max-width: 1000px) {
  .nav__main {
    margin: 1.2rem 0rem;
  }
}
@media only screen and (max-width: 582px) {
  .nav__main {
    display: none;
    flex-basis: 0;
  }
}
.nav__main a,
.nav__main a:visited {
  color: #335576;
  text-decoration: none;
}
.nav--travel-site {
  color: #335576;
  font-weight: 800;
  font-size: 1.1rem;
  margin: 0 4rem;
}
@media only screen and (max-width: 450px) {
  .nav--travel-site {
    display: none;
    flex-basis: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .nav--travel-site {
    width: 7rem;
  }
}
.nav__page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 4rem;
}
.nav__page-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}
.nav-link--box {
  padding: 1rem 0 0.6rem;
  border-bottom: 0.2rem solid transparent;
}
.nav-link--box:hover {
  border-bottom: 0.2rem solid #db7a4e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.nav-link--active {
  border-bottom: 0.2rem solid #db7a4e;
}

.footer {
  width: 100%;
  height: 14rem;
  background: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
}
@media only screen and (max-width: 1000px) {
  .footer {
    gap: 2rem;
  }
}
@media only screen and (max-width: 710px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35rem;
  }
}
.footer a {
  color: #335576;
  text-decoration: none;
}
.footer__section {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  margin: 0 1rem;
}
.footer--header {
  font-size: 1.3rem;
  font-weight: 800;
  color: #335576;
}
.footer--sub {
  font-size: 0.6rem;
  font-weight: 400;
  color: #db7a4e;
}
.footer--info {
  font-size: 0.9rem;
  font-weight: 500;
  color: #335576;
  padding-top: 0.5rem;
}
.footer__business-hours {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 1000px) {
  .footer__business-hours {
    gap: 0.8rem;
  }
}
.footer--social-icons {
  display: flex;
  gap: 1.5rem;
}

.instagram-icon {
  background-image: url("../icons/icon-instagram.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

.facebook-icon {
  background-image: url("../icons/icon-facebook.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

.twitter-icon {
  background-image: url("../icons/icon-twitter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

.hawaii-background {
  background-image: url("../Images/hawaii.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40rem;
}

.greece-background {
  background-image: url("../Images/greece.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40rem;
}

.iceland-background {
  background-image: url("../Images/iceland.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40rem;
}

.itinerary-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40rem;
  padding-top: 3.9rem;
  color: #335576;
  position: relative;
  gap: 3rem;
  z-index: -1;
}
.itinerary-section a {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}
.itinerary-section--destination {
  position: absolute;
  top: 7rem;
  left: 7rem;
  font-size: 4.2rem;
  font-weight: 800;
  color: #ffffff;
}
.itinerary-section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: 5rem;
  width: 15.8rem;
  height: 22rem;
  background-color: #ffffff;
  position: relative;
}
.itinerary-section__card ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.itinerary-section__card ul li {
  color: black;
  width: 13.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fefaf5;
  text-align: center;
}

.itinerary--item {
  list-style-type: none;
}
.itinerary--header {
  width: 87%;
  font-size: 1.15rem;
  font-weight: bold;
  color: black;
  padding-top: 0.9rem;
  border-bottom: 3px solid black;
  text-align: center;
  position: absolute;
  top: 0rem;
}/*# sourceMappingURL=destinations.css.map */