@use "./partials/colors" as *;
@import "./partials/global";


.hawaii-background {
  @include backgroundImg("../Images/hawaii.jpg", 100%, 40rem);
}

.greece-background {
  @include backgroundImg("../Images/greece.jpg", 100%, 40rem);
}

.iceland-background {
  @include backgroundImg("../Images/iceland.jpg", 100%, 40rem);
}

.itinerary-section {
  @include flexCenter;
  height: 40rem;
  padding-top: 3.9rem;
  color: $slate;
  position: relative;
  gap: 3rem;
  z-index: -1;

  a {
    font-size: 1.5rem;
    font-weight: 800;
    color: $white;
    text-decoration: none;
  }

  &--destination {
    position: absolute;
    top: 7rem;
    left: 7rem;
    font-size: 4.2rem;
    font-weight: 800;
    color: $white;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5rem;
    width: 15.8rem;
    height: 22rem;
    // padding: 0 1.5rem 1.1rem;
    background-color: $white;
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      li {
        color: black;
        width: 13.5rem;
        height: 3rem;
        @include flexCenter;
        background-color: $off-white;
        text-align: center;
      }
    }
  }
}

.itinerary {
  &--item {
    list-style-type: none;
  }

  &--header {
    width: 87%;
    font-size: 1.15rem;
    font-weight: bold;
    color: black;
    padding-top: 0.9rem;
    border-bottom: 3px solid black;
    text-align: center;
    position: absolute;
    top: 0rem;
  }
}
