@use "./partials/colors" as *;
@import "./partials/global";

.hero {
  background-color: $off-white;
  @include flexCenter();
  height: 30rem;
  gap: 7rem;
  color: $slate;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 35rem;
    height: 100%;

    &--header {
      font-size: 2.5rem;
      font-weight: 800;
    }

    &--text {
      font-size: 1rem;
      font-weight: 500;
    }

    &--button {
      @include flexCenter;
      background-color: $orange;
      height: 2.4rem;
      width: 10rem;
      border-radius: 20rem;
    }
  }

  &__button--link {
    font-size: 1rem;
    color: $white;
    text-decoration: none;
  }

  &--img {
    @include backgroundImg("../Images/hero.png", 25rem, 21rem);
  }
}

// Home Page - Recommendations Section:

// The recommendations title must have the color of #335576
// The border radius of the cards must be 5px
// The border of the cards must be 1px solid black with an opacity of 20%
// The box shadow of the cards must be:
// Horizontal Offset: 0px
// Vertical Offset: 4px
// Blur: 4px
// Color: Black, with an opacity of 20%

.recommendations-section {
  @include flexCenter;
  height: 32rem;
  padding-top: 2.5rem;
  color: $slate;
  position: relative;
  gap: 3rem;

  a {
    font-size: 1.5rem;
    font-weight: 800;
    color: $white;
    text-decoration: none;
  }

  &--recommendations {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: $slate;
  }

  &__card {
    @include flexCenter;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
    padding: 0 1.5rem 1.1rem;
  }
}

.card--hawaii {
  @include backgroundImg("../Images/hawaii.jpg", 12rem, 21rem);

}

.card--iceland {
  @include backgroundImg("../Images/iceland.jpg", 12rem, 21rem);
}

.card--greece {
  @include backgroundImg("../Images/greece.jpg", 12rem, 21rem);
}

.footer {
  @include flexCenter;
  align-items: flex-start;
  gap: 10rem;

  &__section {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
  }

  &--header {
    font-size: 2rem;
    font-weight: 800;
    color: $slate;
  }

  &--sub {
    font-size: 0.8rem;
    font-weight: 400;
    color: $orange;
  }

  &--info {
    font-size: 1.2rem;
    font-weight: 500;
    color: $slate;
  }

&__business-hours {
  display: flex;
  gap: 3rem;

}

  &--social-icons {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
  }
}

.instagram-icon {
  @include backgroundImg("../icons/icon-instagram.png", 2rem, 2rem);
  background-size: contain;
}

.facebook-icon {
  @include backgroundImg("../icons/icon-facebook.png", 2rem, 2rem);
  background-size: contain;
}

.twitter-icon {
  @include backgroundImg("../icons/icon-twitter.png", 2rem, 2rem);
  background-size: contain;
}
