html,
body,
h2,
p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans";
}

.nav {
  width: 100%;
  height: 3.7rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
}
.nav__main {
  border-bottom: 0.22rem solid transparent;
}
.nav__main a,
.nav__main a:visited {
  color: #335576;
  text-decoration: none;
}
.nav--travel-site {
  color: #335576;
  font-weight: 800;
  font-size: 1.3rem;
  margin: 0 4rem;
  padding-top: 1rem;
}
.nav__page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 4rem;
}
.nav__page-links a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.nav-link--box {
  padding: 1rem 0 0.6rem;
  border-bottom: 0.22rem solid transparent;
}
.nav-link--box:hover {
  border-bottom: 0.22rem solid #db7a4e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}
.nav-link--active {
  border-bottom: 0.22rem solid #db7a4e;
}

.footer {
  width: 100%;
  height: 12rem;
  background: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.hero {
  background-color: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30rem;
  gap: 7rem;
  color: #335576;
}
.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 35rem;
  height: 100%;
}
.hero__description--header {
  font-size: 2.5rem;
  font-weight: 800;
}
.hero__description--text {
  font-size: 1rem;
  font-weight: 500;
}
.hero__description--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #db7a4e;
  height: 2.4rem;
  width: 10rem;
  border-radius: 20rem;
}
.hero__button--link {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}
.hero--img {
  background-image: url("../Images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25rem;
  height: 21rem;
}

.recommendations-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32rem;
  padding-top: 2.5rem;
  color: #335576;
  position: relative;
  gap: 3rem;
}
.recommendations-section a {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}
.recommendations-section--recommendations {
  position: absolute;
  top: 3rem;
  left: 5rem;
  font-size: 1.4rem;
  font-weight: 800;
}
.recommendations-section__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 0 1.5rem 1.1rem;
}

.card--hawaii {
  background-image: url("../Images/hawaii.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}

.card--iceland {
  background-image: url("../Images/iceland.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}

.card--greece {
  background-image: url("../Images/greece.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}/*# sourceMappingURL=index.css.map */