@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/mixin" as *;

.hero {
  background-color: $off-white;
  @include flexCenter();
  height: 31rem;
  gap: 7rem;
  color: $slate;
  padding-top: 3.9rem;

  @include tablet {
    display: relative;
    gap: 2rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 35rem;
    height: 100%;

    @include tablet {
      width: 25rem;
    }

    &--header {
      font-size: 2.2rem;
      font-weight: 800;
    }

    &--text {
      font-size: 0.9rem;
      font-weight: 500;
    }

    &--button {
      @include flexCenter;
      background-color: $orange;
      height: 2.4rem;
      width: 10rem;
      border-radius: 20rem;
    }
  }

  &__button--link {
    font-size: 0.9rem;
    color: $white;
    text-decoration: none;
  }

  &--img {
    @include backgroundImg("../Images/hero.png", contain, 25rem, 21rem);

    @include tablet {
      @include backgroundImg("../Images/hero.png", contain, 18rem, 20rem);
    }
  }
}

.recommendations-section {
  @include flexCenter;
  height: 32rem;
  padding-top: 2.5rem;
  color: $slate;
  position: relative;
  gap: 3rem;

  @include media-size(800px) {
    height: 55rem;
  }
  
  @include tablet {
  gap: 1.5rem;
  }

  @include media-size(800px) {
    flex-direction: column;
  }

  a {
    font-size: 1.5rem;
    font-weight: 800;
    color: $white;
    text-decoration: none;
  }

  &--recommendations {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: $slate;
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
    padding: 0 1.5rem 1.1rem;

  }
}

.card--hawaii {
  @include backgroundImg("../Images/hawaii.jpg", cover, 12rem, 21rem);
  
  @include media-size(800px) {
    @include backgroundImg("../Images/hawaii.jpg", cover, 21rem, 12rem);
  }
}

.card--iceland {
  @include backgroundImg("../Images/iceland.jpg", cover, 12rem, 21rem);

  @include media-size(800px) {
    @include backgroundImg("../Images/iceland.jpg", cover, 21rem, 12rem);
  }
}

.card--greece {
  @include backgroundImg("../Images/greece.jpg", cover, 12rem, 21rem);

  @include media-size(800px) {
    @include backgroundImg("../Images/greece.jpg", cover, 21rem, 12rem);
  }
}
