@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./partials/mixin" as *;

@keyframes tilt {
  0% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(0.01turn);
  }

  75% {
    transform: rotate(-0.01turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

.hero {
  background-color: $off-white;
  @include flexCenter();
  height: 31rem;
  gap: 7rem;
  color: $slate;
  padding-top: 3.9rem;

  @include tablet {
    display: relative;
    gap: 2rem;
  }

  @include media-size(710px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50rem;
    flex-direction: row;
    align-content: flex-start;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 35rem;
    height: 100%;
    margin: 0 2rem;

    @include media-size(710px) {
      height: 50%;
    }

    @include tablet {
      width: 25rem;
    }

    @include mobile {
      display: flex;
      align-items: center;
      text-align: center;
    }

    &--header {
      font-size: 2.2rem;
      font-weight: 800;

      @include mobile {
        padding: 0 2rem;
      }
    }

    &--text {
      font-size: 0.9rem;
      font-weight: 500;

      @include mobile {
        padding: 0 2rem;
      }
    }

    &--button {
      @include flexCenter;
      background-color: $orange;
      height: 2.4rem;
      width: 10rem;
      border-radius: 20rem;

      &:active {
        background-color: $white;
        box-shadow: 0 0 10px rgb(255, 255, 255),
          inset 0 0 10px rgba(0, 0, 0, 0.692);
      }
    }
  }

  &__button--link {
    font-size: 0.9rem;
    color: $white;
    text-decoration: none;
    &:active {
      color: $orange;
      font-weight: 600;
    }
  }

  &__image {
    animation: tilt 8s ease-in-out infinite;
    margin: 0 2rem;
  }

  &--img {
    @include backgroundImg("../Images/hero.png", contain, 27rem, 27rem);

    @include tablet {
      @include backgroundImg("../Images/hero.png", contain, 18rem, 20rem);
    }

    @include media-size(400px) {
      @include backgroundImg("../Images/hero.png", contain, 80vw, 20rem);
    }
  }
}

.recommendations-section {
  @include flexCenter;
  height: 32rem;
  padding-top: 2.5rem;
  color: $slate;
  position: relative;
  gap: 3rem;

  @include tablet {
    gap: 1.5rem;
  }

  @include media-size(800px) {
    flex-direction: column;
    height: 55rem;
  }

  a {
    font-size: 1.5rem;
    font-weight: 800;
    color: $white;
    text-decoration: none;
  }

  &--recommendations {
    position: absolute;
    top: 3rem;
    left: 5rem;
    font-size: 1.4rem;
    font-weight: 800;
    color: $slate;

    @include media-size(710px) {
      position: relative;
      top: -3rem;
      left: initial;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 0.2);
    border-radius: 5px;
    padding: 0 1.5rem 1.1rem;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    }
  }
}

.card--hawaii {
  @include backgroundImg("../Images/hawaii.jpg", cover, 12rem, 21rem);

  @media only screen and (min-width: 1000px) {
    &:hover {
      transition: 0.2s;
      width: 13rem;
      height: 22rem;
    }
  }

  @include media-size(800px) {
    @include backgroundImg("../Images/hawaii.jpg", cover, 21rem, 12rem);
  }

  @include media-size(400px) {
    @include backgroundImg("../Images/hawaii.jpg", cover, 80vw, 12rem);
  }
}

.card--iceland {
  @include backgroundImg("../Images/iceland.jpg", cover, 12rem, 21rem);

  @media only screen and (min-width: 1000px) {
    &:hover {
      transition: 0.2s;
      width: 13rem;
      height: 22rem;
    }
  }

  @include media-size(800px) {
    @include backgroundImg("../Images/iceland.jpg", cover, 21rem, 12rem);
  }

  @include media-size(400px) {
    @include backgroundImg("../Images/iceland.jpg", cover, 80vw, 12rem);
  }
}

.card--greece {
  @include backgroundImg("../Images/greece.jpg", cover, 12rem, 21rem);
  @media only screen and (min-width: 1000px) {
    &:hover {
      transition: 0.2s;
      width: 13rem;
      height: 22rem;
    }
  }

  @include media-size(800px) {
    @include backgroundImg("../Images/greece.jpg", cover, 21rem, 12rem);
  }

  @include media-size(400px) {
    @include backgroundImg("../Images/greece.jpg", cover, 80vw, 12rem);
  }
}
