html,
body,
h2,
p, ul, li {
  margin: 0;
  padding: 0;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}

.nav {
  width: 100vw;
  height: 3.9rem;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  position: fixed;
  z-index: 5;
}
@media only screen and (max-width: 1000px) {
  .nav {
    justify-content: center;
  }
}
@media only screen and (max-width: 582px) {
  .nav {
    justify-content: center;
  }
}
.nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1.5rem;
}
.nav ul li {
  display: inline;
  position: relative;
}
.nav__main {
  border-bottom: 0.2rem solid transparent;
  margin: 1.2rem;
}
@media only screen and (max-width: 1000px) {
  .nav__main {
    margin: 1.2rem 0rem;
  }
}
@media only screen and (max-width: 582px) {
  .nav__main {
    display: none;
  }
}
.nav__main a,
.nav__main a:visited {
  color: #335576;
  text-decoration: none;
}
.nav__main a:hover {
  text-shadow: 0 5px 1rem rgba(123, 123, 123, 0.308);
  transition: 0.1s;
}
.nav--travel-site {
  color: #335576;
  font-weight: 800;
  font-size: 1.1rem;
  margin: 0 4rem;
}
@media only screen and (max-width: 450px) {
  .nav--travel-site {
    display: none;
    flex-basis: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .nav--travel-site {
    width: 7rem;
  }
}
.nav__page-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 4rem;
}
@media only screen and (max-width: 582px) {
  .nav__page-links {
    margin: 0.4rem;
  }
}
.nav__page-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}
.nav-link--box {
  padding: 1rem 0 0.6rem;
  border-bottom: 0.2rem solid transparent;
}
.nav-link--box:hover {
  border-bottom: 0.2rem solid #db7a4e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.nav-link--active {
  border-bottom: 0.2rem solid #db7a4e;
}

.footer {
  width: 100%;
  height: 14rem;
  background: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
}
@media only screen and (max-width: 1000px) {
  .footer {
    gap: 2rem;
  }
}
@media only screen and (max-width: 710px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35rem;
  }
}
.footer a {
  color: #335576;
  text-decoration: none;
}
.footer__section {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  margin: 0 1rem;
}
.footer--header {
  font-size: 1.3rem;
  font-weight: 800;
  color: #335576;
}
.footer--sub {
  font-size: 0.6rem;
  font-weight: 400;
  color: #db7a4e;
}
.footer--info {
  font-size: 0.9rem;
  font-weight: 500;
  color: #335576;
  padding-top: 0.5rem;
}
.footer__business-hours {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 1000px) {
  .footer__business-hours {
    gap: 0.8rem;
  }
}
.footer--social-icons {
  display: flex;
  gap: 1.5rem;
}

.instagram-icon {
  background-image: url("../icons/icon-instagram.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

.facebook-icon {
  background-image: url("../icons/icon-facebook.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

.twitter-icon {
  background-image: url("../icons/icon-twitter.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.7rem;
  height: 1.7rem;
}

@keyframes tilt {
  0% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(0.01turn);
  }
  75% {
    transform: rotate(-0.01turn);
  }
  100% {
    transform: rotate(0turn);
  }
}
.hero {
  background-color: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 31rem;
  gap: 7rem;
  color: #335576;
  padding-top: 3.9rem;
}
@media only screen and (max-width: 1000px) {
  .hero {
    display: relative;
    gap: 2rem;
  }
}
@media only screen and (max-width: 710px) {
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50rem;
    flex-direction: row;
    align-content: flex-start;
  }
}
.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 35rem;
  height: 100%;
  margin: 0 2rem;
}
@media only screen and (max-width: 710px) {
  .hero__description {
    height: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .hero__description {
    width: 25rem;
  }
}
@media only screen and (max-width: 450px) {
  .hero__description {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.hero__description--header {
  font-size: 2.2rem;
  font-weight: 800;
}
@media only screen and (max-width: 450px) {
  .hero__description--header {
    padding: 0 2rem;
  }
}
.hero__description--text {
  font-size: 0.9rem;
  font-weight: 500;
}
@media only screen and (max-width: 450px) {
  .hero__description--text {
    padding: 0 2rem;
  }
}
.hero__description--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #db7a4e;
  height: 2.4rem;
  width: 10rem;
  border-radius: 20rem;
}
.hero__description--button:active {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgb(255, 255, 255), inset 0 0 10px rgba(0, 0, 0, 0.692);
}
.hero__button--link {
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: none;
}
.hero__button--link:active {
  color: #db7a4e;
  font-weight: 600;
}
.hero__image {
  animation: tilt 8s ease-in-out infinite;
  margin: 0 2rem;
}
.hero--img {
  background-image: url("../Images/hero.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 27rem;
  height: 27rem;
}
@media only screen and (max-width: 1000px) {
  .hero--img {
    background-image: url("../Images/hero.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 18rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 400px) {
  .hero--img {
    background-image: url("../Images/hero.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 20rem;
  }
}

.recommendations-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 32rem;
  padding-top: 2.5rem;
  color: #335576;
  position: relative;
  gap: 3rem;
}
@media only screen and (max-width: 1000px) {
  .recommendations-section {
    gap: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .recommendations-section {
    flex-direction: column;
    height: 55rem;
  }
}
.recommendations-section a {
  font-size: 1.5rem;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
}
.recommendations-section--recommendations {
  position: absolute;
  top: 3rem;
  left: 5rem;
  font-size: 1.4rem;
  font-weight: 800;
  color: #335576;
}
@media only screen and (max-width: 710px) {
  .recommendations-section--recommendations {
    position: relative;
    top: -3rem;
    left: initial;
  }
}
.recommendations-section__card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 1.5rem 1.1rem;
  transition: 0.2s;
}
.recommendations-section__card:hover {
  transition: 0.2s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.card--hawaii {
  background-image: url("../Images/hawaii.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}
@media only screen and (min-width: 1000px) {
  .card--hawaii:hover {
    transition: 0.2s;
    width: 13rem;
    height: 22rem;
  }
}
@media only screen and (max-width: 800px) {
  .card--hawaii {
    background-image: url("../Images/hawaii.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .card--hawaii {
    background-image: url("../Images/hawaii.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 12rem;
  }
}

.card--iceland {
  background-image: url("../Images/iceland.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}
@media only screen and (min-width: 1000px) {
  .card--iceland:hover {
    transition: 0.2s;
    width: 13rem;
    height: 22rem;
  }
}
@media only screen and (max-width: 800px) {
  .card--iceland {
    background-image: url("../Images/iceland.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .card--iceland {
    background-image: url("../Images/iceland.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 12rem;
  }
}

.card--greece {
  background-image: url("../Images/greece.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 21rem;
}
@media only screen and (min-width: 1000px) {
  .card--greece:hover {
    transition: 0.2s;
    width: 13rem;
    height: 22rem;
  }
}
@media only screen and (max-width: 800px) {
  .card--greece {
    background-image: url("../Images/greece.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 21rem;
    height: 12rem;
  }
}
@media only screen and (max-width: 400px) {
  .card--greece {
    background-image: url("../Images/greece.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80vw;
    height: 12rem;
  }
}/*# sourceMappingURL=main.css.map */