$white: #ffffff;
$background: #ffffff;

$off-white: #fefaf5;
$pageBackground: #fefaf5;
$heroBackgroundColor: #fefaf5;

$slate: #335576;
$logo: #335576;
$footerTitles: #335576;
$slogan: #335576;
$recommendationTitles: #335576;

$orange: #db7a4e;
$underline: #db7a4e;
$footerSubtitles: #db7a4e;
$buttonBackground: #db7a4e;

