html,
body,
h2,
p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans";
}

@mixin flexCenter() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin backgroundImg($urlSrc, $bkgImgWidth, $bkgImgHeight) {
  background-image: url($urlSrc);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: $bkgImgWidth;
  height: $bkgImgHeight;
}

.nav {
  width: 100%;
  height: 3.7rem;
  background: $white;
  @include flexCenter();
  justify-content: space-between;
  align-items: baseline;

  // gap: 45rem;

  &__main {
    border-bottom: 0.22rem solid transparent;

    a,
    a:visited {
      color: $slate;
      text-decoration: none;
    }
  }

  &--travel-site {
    color: $slate;
    font-weight: 800;
    font-size: 1.3rem;
    margin: 0 4rem;
    padding-top: 1rem;
  }

  &__page-links {
    @include flexCenter();
    gap: 1rem;
    margin: 0 4rem;

    a {
      font-size: 1rem;
      text-decoration: none;
      color: black;
    }
  }
  &-link--box {
    padding: 1rem 0 0.6rem;
    border-bottom: 0.22rem solid transparent;
    &:hover {
      border-bottom: 0.22rem solid $orange;
      @include flexCenter();
      align-items: baseline;
    }
  }
  &-link--active {
    border-bottom: 0.22rem solid $orange;
  }
}
