@use "./variables" as *;
@use "./mixin" as *;

html,
body,
h2,
p, ul, li, form {
  margin: 0;
  padding: 0;
}

* {
  font-family: Verdana, Geneva, sans-serif;
}

.nav {
  width: 100vw;
  height: 3.9rem;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  position: fixed;
  z-index: 5;
  
  @include tablet {
    justify-content: center;
        }

  @include media-size(582px) {
  justify-content: center;
  
  }


  ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 1.5rem;

    li {
      display: inline;
      position: relative;
    }
  }

  &__main {
    border-bottom: 0.2rem solid transparent;
    margin: 1.2rem;
    
    @include tablet {
      margin: 1.2rem 0rem;
          }

    @include media-size(582px) {
      display: none;
    }

    a,
    a:visited {
      color: $slate;
      text-decoration: none;
    }

    a:hover {
      text-shadow: 0 5px 1rem rgba(123, 123, 123, 0.308);
      transition: 0.1s;
    }

  }

  &--travel-site {
    color: $slate;
    font-weight: 800;
    font-size: 1.1rem;
    margin: 0 4rem;

    @include mobile {
      display: none;
      flex-basis: 0;
    }

    @include tablet {
      width: 7rem;
          }

  }

  &__page-links {
    @include flexCenter();
    gap: 1rem;
    margin: 0 4rem;

    @include media-size(582px) {
      margin: .4rem;
    }

    a {
      font-size: 0.9rem;
      text-decoration: none;
      color: black;
    }
  }

  &-link--box {
    padding: 1rem 0 0.6rem;
    border-bottom: 0.2rem solid transparent;

    &:hover {
      border-bottom: 0.2rem solid $orange;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
    }
  }
  &-link--active {
    border-bottom: 0.2rem solid $orange;
  }
}

.footer {
  width: 100%;
  height: 14rem;
  background: $off-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;
  
  @include tablet {
   gap: 2rem;
  }

  @include media-size(710px) {
  display: flex;
    flex-direction: column;  
    justify-content: flex-start;
  align-items: center;
  height: 35rem;
  }

  a {
    color: $slate;
    text-decoration: none;
  }

  &__section {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
    margin: 0 1rem;
  }

  &--header {
    font-size: 1.3rem;
    font-weight: 800;
    color: $slate;
    
  }

  &--sub {
    font-size: 0.6rem;
    font-weight: 400;
    color: $orange;
  }

  &--info {
    font-size: 0.9rem;
    font-weight: 500;
    color: $slate;
    padding-top: 0.5rem;
  }

  &__business-hours {
    display: flex;
    gap: 2rem;
    
    @include tablet {
      gap: 0.8rem;
     }
  }

  &--social-icons {
    display: flex;
    gap: 1.5rem;
  }
}

.instagram-icon {
  @include backgroundImg("../icons/icon-instagram.png", contain, 1.7rem, 1.7rem);
}

.facebook-icon {
  @include backgroundImg("../icons/icon-facebook.png", contain, 1.7rem, 1.7rem);
}

.twitter-icon {
  @include backgroundImg("../icons/icon-twitter.png", contain, 1.7rem, 1.7rem);
}
