html,
body,
h2,
p {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans";
}

@mixin flexCenter() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin backgroundImg($urlSrc, $bkgImgWidth, $bkgImgHeight) {
  background-image: url($urlSrc);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: $bkgImgWidth;
  height: $bkgImgHeight;
}

.nav {
  width: 100%;
  height: 3.7rem;
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  // gap: 45rem;

  &__main {
    border-bottom: 0.22rem solid transparent;

    a,
    a:visited {
      color: $slate;
      text-decoration: none;
    }
  }

  &--travel-site {
    color: $slate;
    font-weight: 800;
    font-size: 1.3rem;
    margin: 0 4rem;
    padding-top: 1rem;
  }

  &__page-links {
    @include flexCenter();
    gap: 1rem;
    margin: 0 4rem;

    a {
      font-size: 1rem;
      text-decoration: none;
      color: black;
    }
  }
  &-link--box {
    padding: 1rem 0 0.6rem;
    border-bottom: 0.22rem solid transparent;
    &:hover {
      border-bottom: 0.22rem solid $orange;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
    }
  }
  &-link--active {
    border-bottom: 0.22rem solid $orange;
  }
}

.footer {
  width: 100%;
  height: 14rem;
  background: $off-white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 7rem;

  a {
    color: $slate;
    text-decoration: none;
  }

  &__section {
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
  }

  &--header {
    font-size: 1.5rem;
    font-weight: 800;
    color: $slate;
  }

  &--sub {
    font-size: 0.7rem;
    font-weight: 400;
    color: $orange;
  }

  &--info {
    font-size: 1rem;
    font-weight: 500;
    color: $slate;
    padding-top: 0.5rem;
  }

  &__business-hours {
    display: flex;
    gap: 2rem;
  }

  &--social-icons {
    display: flex;
    gap: 2rem;
  }
}

.instagram-icon {
  @include backgroundImg("../icons/icon-instagram.png", 1.7rem, 1.7rem);
  background-size: contain;
}

.facebook-icon {
  @include backgroundImg("../icons/icon-facebook.png", 1.7rem, 1.7rem);
  background-size: contain;
}

.twitter-icon {
  @include backgroundImg("../icons/icon-twitter.png", 1.7rem, 1.7rem);
  background-size: contain;
}
